html,
body {
	background-color: blue;
	color: yellow;
	font-family: helvetica, sans-serif;
	/* height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	/* margin: 0; */
	/* max-width: 80%;
	margin: auto;
	margin-top: auto;  */
}

/* div {
	border: solid greenyellow 2px;
} */

p {
	color: #fff;
}

.container {
	display: flex;
	width: 1280px;
	height: 1024px;
	padding: 60px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
}

#header {
	display: flex;
	padding: 10px;
	align-items: center;
	gap: 10px;
	align-self: stretch;
}

#logo-box {
	display: flex;
	padding: 10px;
	flex-direction: column;
	align-items: flex-end;
	gap: var(--Space-200, 8px);
}

#logo {
	color: #ffff00;
	font-family: Helvetica;
	font-size: 56px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: -2.8px;
	text-indent: 0.57em;
	margin: 0px;
}

#promo {
	width: 204px;
	height: 39px;
	color: #fff;
	font-family: Helvetica;
	font-size: 56px;
	font-style: oblique;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: -2.8px;
	margin: 0px;
}

#item-input-section {
	display: flex;
	padding: 10px;
	align-items: center;
	gap: 10px;
}

#user-input {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--sds-size-space-200);
	background: blue;
	color: blue;
	border: none;
}

#validate-item {
	background-color: blue;
	color: blue;
	border: none;
}

::placeholder {
	color: blue;
	opacity: 1;
}

#mid-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 80px;
	flex: 1 0 0;
	align-self: stretch;
}

#step1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex: 1 0 0;
	align-self: stretch;
}

#hero {
	display: flex;
	width: 1052px;
	height: 764px;
	padding: 0px 0.041px 0.015px 0px;
	justify-content: center;
	align-items: center;
}

#schema {
	width: 1051.959px;
	height: 763.985px;
	flex-shrink: 0;
}

#itemImage {
	width: 653.205px;
	height: 570.941px;
	flex-shrink: 0;
}

#entered-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

#bottom-box {
	display: flex;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	align-self: stretch;
}

#info-box {
	display: flex;
	padding: 10px;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#message-step1,
#message-step2,
#message-step3,
#message-step4 {
	color: var(--Grays-White, #fff);
	font-family: Helvetica;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 41px; /* 128.125% */
}

.decile-option {
	padding: 10px;
	cursor: pointer;
}

.decile-option:hover {
	background-color: gray;
	color: black;
}

.decile-option.selected {
	background-color: yellow;
	color: blue;
}
